*.psd filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
*.index filter=lfs diff=lfs merge=lfs -text
src/production/recognition/arcface/arcface/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
